@import "./responsive.scss";

.layout{
    background-color: aqua;
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;

    @include lg{
        background-color: black;
    }
    
    @include md{
        background-color: gray;
    }
    
    @include sm{
        background-color: red;
    }
}